@font-face {
	font-family: 'Bolt';
	font-display: swap;
	src: url('./fonts/GTWalsheimPro-Regular.woff2') format('woff2'),
		url('./fonts/GTWalsheimPro-Regular.woff') format('woff'),
		url('./fonts/GTWalsheimPro-Regular.ttf') format('truetype'),
		url('./fonts/GTWalsheimPro-Regular.eot?#iefix')
			format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@vds-tight-spacing: 20px;
@vds-normal-spacing: 24px;
@vds-large-spacing: 32px;
@vds-huge-spacing: 40px;

:root {
	--vds-black: @vds-black;
	--vds-white: @vds-white;
	--vds-orange: @vds-orange;
	--vds-neutral-100: @vds-neutral-100;
	--vds-neutral-200: @vds-neutral-200;
	--vds-neutral-300: @vds-neutral-300;
	--vds-neutral-400: @vds-neutral-400;
	--vds-neutral-500: @vds-neutral-500;
	--vds-neutral-600: @vds-neutral-600;
	--vds-green-100: @vds-green-100;
	--vds-green-200: @vds-green-200;
	--vds-green-300: @vds-green-300;
	--vds-green-400: @vds-green-400;
	--vds-green-500: @vds-green-500;
	--vds-green-600: @vds-green-600;
	--vds-green-700: @vds-green-700;
	--vds-green-800: @vds-green-800;
	--vds-green-900: @vds-green-900;
	--vds-green-1000: @vds-green-1000;
	--vds-yellow-100: @vds-yellow-100;
	--vds-yellow-200: @vds-yellow-200;
	--vds-yellow-300: @vds-yellow-300;
	--vds-yellow-400: @vds-yellow-400;
	--vds-yellow-500: @vds-yellow-500;
	--vds-yellow-600: @vds-yellow-600;
	--vds-yellow-700: @vds-yellow-700;
	--vds-yellow-800: @vds-yellow-800;
	--vds-yellow-900: @vds-yellow-900;
	--vds-yellow-1000: @vds-yellow-1000;
	--vds-red-100: @vds-red-100;
	--vds-red-200: @vds-red-200;
	--vds-red-300: @vds-red-300;
	--vds-red-400: @vds-red-400;
	--vds-red-500: @vds-red-500;
	--vds-red-600: @vds-red-600;
	--vds-red-700: @vds-red-700;
	--vds-red-800: @vds-red-800;
	--vds-red-900: @vds-red-900;
	--vds-red-1000: @vds-red-1000;
	--vds-orange-100: @vds-orange-100;
	--vds-orange-200: @vds-orange-200;
	--vds-orange-300: @vds-orange-300;
	--vds-orange-400: @vds-orange-400;
	--vds-orange-500: @vds-orange-500;
	--vds-orange-600: @vds-orange-600;
	--vds-orange-700: @vds-orange-700;
	--vds-orange-800: @vds-orange-800;
	--vds-orange-900: @vds-orange-900;
	--vds-orange-1000: @vds-orange-1000;
	--vds-blue-100: @vds-blue-100;
	--vds-blue-200: @vds-blue-200;
	--vds-blue-300: @vds-blue-300;
	--vds-blue-400: @vds-blue-400;
	--vds-blue-500: @vds-blue-500;
	--vds-blue-600: @vds-blue-600;
	--vds-blue-700: @vds-blue-700;
	--vds-blue-800: @vds-blue-800;
	--vds-blue-900: @vds-blue-900;
	--vds-blue-1000: @vds-blue-1000;
	--vds-success: @vds-success;
	--vds-warning: @vds-warning;
	--vds-error: @vds-error;
	--vds-info: @vds-info;
	--vds-tight-spacing: @vds-tight-spacing;
	--vds-normal-spacing: @vds-normal-spacing;
	--vds-large-spacing: @vds-large-spacing;
	--v--ds-huge-spacing: @vds-huge-spacing;
}

body {
	font-family: 'Bolt';
	color: @vds-black;
}

* {
	box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	vertical-align: baseline;
	text-decoration: none;
	color: inherit;
}

figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	font-weight: 400;
}

.col {
	width: 100%;
}

.col-1-12 {
	width: 8.33%;
}

.col-2-12 {
	width: 16.66;
}

.col-3-12 {
	width: 25%;
}

.col-4-12 {
	width: 33.33%;
}

.col-5-12 {
	width: 41.66%;
}

.col-6-12 {
	width: 50%;
}

.col-7-12 {
	width: 58.88%;
}

.col-8-12 {
	width: 66.66%;
}

.col-9-12 {
	width: 75%;
}

.col-10-12 {
	width: 83.33%;
}

.col-11-12 {
	width: 91.66%;
}

.mr-auto {
	margin-right: auto;
}

.ml-auto {
	margin-left: auto;
}

.mt-auto {
	margin-top: auto;
}

.mb-auto {
	margin-bottom: auto;
}

.m-auto {
	margin: 0 auto;
}

.m-2 {
	margin: 2px;
}

.m-4 {
	margin: 4px;
}

.m-6 {
	margin: 6px;
}

.m-8 {
	margin: 8px;
}

.m-10 {
	margin: 10px;
}

.m-12 {
	margin: 12px;
}

.m-16 {
	margin: 16px;
}

.m-20 {
	margin: 20px;
}

.mb-2 {
	margin-bottom: 2px;
}

.mb-4 {
	margin-bottom: 4px;
}

.mb-6 {
	margin-bottom: 6px;
}

.mb-8 {
	margin-bottom: 8px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-12 {
	margin-bottom: 12px;
}

.mb-16 {
	margin-bottom: 16px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mt-2 {
	margin-top: 2px;
}

.mt-4 {
	margin-top: 4px;
}

.mt-6 {
	margin-top: 6px;
}

.mt-8 {
	margin-top: 8px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-12 {
	margin-top: 12px;
}

.mt-16 {
	margin-top: 16px;
}

.mt-20 {
	margin-top: 20px;
}

.ml-2 {
	margin-left: 2px;
}

.ml-4 {
	margin-left: 4px;
}

.ml-6 {
	margin-left: 6px;
}

.ml-8 {
	margin-left: 8px;
}

.ml-10 {
	margin-left: 10px;
}

.ml-12 {
	margin-left: 12px;
}

.ml-16 {
	margin-left: 16px;
}

.ml-20 {
	margin-left: 20px;
}

.mr-2 {
	margin-right: 2px;
}

.mr-4 {
	margin-right: 4px;
}

.mr-6 {
	margin-right: 6px;
}

.mr-8 {
	margin-right: 8px;
}

.mr-10 {
	margin-right: 10px;
}

.mr-12 {
	margin-right: 12px;
}

.mr-16 {
	margin-right: 16px;
}

.mr-20 {
	margin-right: 20px;
}

.p-2 {
	padding: 2px;
}

.p-4 {
	padding: 4px;
}

.p-6 {
	padding: 6px;
}

.p-8 {
	padding: 8px;
}

.p-10 {
	padding: 10px;
}

.p-12 {
	padding: 12px;
}

.p-16 {
	padding: 16px;
}

.p-20 {
	padding: 20px;
}

.pb-2 {
	padding-bottom: 2px;
}

.pb-4 {
	padding-bottom: 4px;
}

.pb-6 {
	padding-bottom: 6px;
}

.pb-8 {
	padding-bottom: 8px;
}

.pb-10 {
	padding-bottom: 10px;
}

.pb-12 {
	padding-bottom: 12px;
}

.pb-16 {
	padding-bottom: 16px;
}

.pb-20 {
	padding-bottom: 20px;
}

.pt-2 {
	padding-top: 2px;
}

.pt-4 {
	padding-top: 4px;
}

.pt-6 {
	padding-top: 6px;
}

.pt-8 {
	padding-top: 8px;
}

.pt-10 {
	padding-top: 10px;
}

.pt-12 {
	padding-top: 12px;
}

.pt-16 {
	padding-top: 16px;
}

.pt-20 {
	padding-top: 20px;
}

.pl-2 {
	padding-left: 2px;
}
.pl-4 {
	padding-left: 4px;
}

.pl-6 {
	padding-left: 6px;
}

.pl-8 {
	padding-left: 8px;
}

.pl-10 {
	padding-left: 10px;
}

.pl-12 {
	padding-left: 12px;
}

.pl-16 {
	padding-left: 16px;
}

.pl-20 {
	padding-left: 20px;
}

.pr-2 {
	padding-right: 2px;
}

.pr-4 {
	padding-right: 4px;
}

.pr-6 {
	padding-right: 6px;
}

.pr-8 {
	padding-right: 8px;
}

.pr-10 {
	padding-right: 10px;
}

.pr-12 {
	padding-right: 12px;
}

.pr-16 {
	padding-right: 16px;
}

.pr-20 {
	padding-right: 20px;
}
