@vds-black: #000000;
@vds-white: #FFFFFF;
@vds-orange: #FF4E00;

@vds-neutral-100: #FFFFFF;
@vds-neutral-200: #F4F5F7;
@vds-neutral-300: #E1E1E1;
@vds-neutral-400: #737581;
@vds-neutral-500: #4A4B53;
@vds-neutral-600: #000000;


@vds-green-100: #D9FAE5;
@vds-green-200: #ADF0C8;
@vds-green-300: #82E2AB;
@vds-green-400: #57D08E;
@vds-green-500: #2BB970;
@vds-green-600: #009E52;
@vds-green-700: #008F46;
@vds-green-800: #007C3A;
@vds-green-900: #00672E;
@vds-green-1000: #005724;


@vds-yellow-100: #FFFBCC;
@vds-yellow-200: #FFF7A8;
@vds-yellow-300: #FFF380;
@vds-yellow-400: #FFEB57;
@vds-yellow-500: #ffdf29;
@vds-yellow-600: #FAD000;
@vds-yellow-700: #E2B500;
@vds-yellow-800: #CC9E00;
@vds-yellow-900: #B28300;
@vds-yellow-1000: #946500;


@vds-red-100: #FFD6D6;
@vds-red-200: #FFB3B3;
@vds-red-300: #FF8A8A;
@vds-red-400: #F86968;
@vds-red-500: #E94A3F;
@vds-red-600: #D21C09;
@vds-red-700: #C00F00;
@vds-red-800: #AB0600;
@vds-red-900: #920000;
@vds-red-1000: #750000;


@vds-orange-100: #FFECD1;
@vds-orange-200: #FFDCAD;
@vds-orange-300: #FFCD8A;
@vds-orange-400: #FFBA61;
@vds-orange-500: #FFA43E;
@vds-orange-600: #F59127;
@vds-orange-700: #E27A18;
@vds-orange-800: #CB670B;
@vds-orange-900: #B85500;
@vds-orange-1000: #9E4100;


@vds-blue-100: #D9F1FF;
@vds-blue-200: #B9E4FD;
@vds-blue-300: #8ED1F6;
@vds-blue-400: #58B9EB;
@vds-blue-500: #2EA0D6;
@vds-blue-600: #0084BD;
@vds-blue-700: #0074AB;
@vds-blue-800: #006395;
@vds-blue-900: #005685;
@vds-blue-1000: #00446B;


@vds-success : #009E52;
@vds-warning: #FAD000;
@vds-error: #D21C09;
@vds-info: #0084BD;
